:root{
    --green-Color : #169e80;
    --grey-Color : #edf2f7;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}
.logo{
    display: flex;
}
.logo img{
    width: 283px;
    height: 151px;
    margin-top: 78px;
    margin: auto;
}
.service{
    background-color: var(--grey-Color);
    display: block;
    padding: 50px;
}
.service h1{
    font-weight: 1000;
    width: 85%;
}
.service p{
    margin-top: 20px;
    width: 75%;
}
.service a{
    color: var(--green-Color);
    height: 30px;
}
.containt{
    margin-top: 200px;
}
/*Section 2*/
.sectionTwo{
    margin-top: 128px;
}

.sectionTwo header h1{
width: 100%;
text-align: center;
font-weight: 700;
}
.sectionTwo p{
    text-align: center;
    margin-top: 20px;
}
.sectionTwo a{
    margin-top: 30px;
}
.sectionTwo button{
    background-color: var(--green-Color);
    padding: 10px;
}
/*section Three*/
.sectionThree{
    margin-top: 80px;
}

.sectionThree{
    background-color: var(--grey-Color);
    padding: 50px;
    text-align: center;
}
/*section Four*/

.sectionFour{
    margin-top: 100px;
}
.sectionFour span{
    color: var(--green-Color);
}
.sectionFour a{
    padding-left: 20px;
    text-decoration: none;
    color: #dcdcdc /*var(--grey-Color)*/;
}
.sectionFour h2{
    font-weight: 700;
    margin-bottom: 29px;
}
.sectionFour article{
    margin-top: 23px;
    color: black;
}
#hr{
    margin-top: 50px;
}

/*section Five*/

.sectionFive{
    margin-top: 50px;
}
.sectionFive span{
    color: var(--green-Color);
}
.sectionFive a{
    padding-left: 20px;
    text-decoration: none;
    color: #dcdcdc /*var(--grey-Color)*/;
}
.sectionFive h2{
    font-weight: 700;
}
.sectionFive article{
    margin-top: 23px;
    color: black;
}

.sectionFive{
    width: 65%;
}